<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawi-G</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
    <div class="container m-5">
        <div class="welcome"></div>

        <div class="text-center">
            <a class="btn btn-lg bg-primary text-light" href="{% url 'add-photos' %}">Add New Photo</a>
            <br><br>
        </div>

        <div class="row">
            <!-- #####    Side Bar    ##### -->
            <div class="col-md-3 p-2">
                <!-- #####    Display Quick Info    ##### -->
                <div>
                    <h2 class="text-center">Quick Info</h2>
                    <div class="card">
                        <img src="https://images2.imgbox.com/a5/22/cCsrAKWJ_o.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Name: <em>Lawrence Otieno</em></h5>
                            <p class="card-text">
                                I'm a full-stack 
                                <span class="text-danger" style="font-size: x-large;">W</span>eb <span class="text-danger" style="font-size: x-large;">D</span>eveloper. <br>
                                I love coding 
                                <span class="text-info">Django</span>, 
                                <span class="text-info">Flask</span>, 
                                <span class="text-info">Angular</span>, 
                                <span class="text-info">JavaScript</span> and 
                                <span class="text-info">React</span>.
                            </p>
                            <div class="text-center">
                                <a href="https://github.com/LawiOtieno?tab=repositories" class="btn btn-primary" target="_blank">View Repos</a>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- #####    Display Categories    ##### -->
                <br>
                <div>
                    <h2 class="text-center">Categories</h2>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">All</li>
                          <li class="list-group-item">Personal Photos</li>
                          <li class="list-group-item">Travel Photos</li>
                          <li class="list-group-item">Animals Photos</li>
                          <li class="list-group-item">Nature Photos</li>
                          <li class="list-group-item">Plants Photos</li>
                          <li class="list-group-item">Business Photos</li>
                          <li class="list-group-item">Furniture Photos</li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-md-1" style="border-right: 5px solid black; height: 500;"></div>

            <!-- #####    Main Photos View    ##### -->
            <div class="col-md-8">
                <h2 class="text-center">Lawrence Photos</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card my-3">
                            <img src="https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80" class="card-img-top" height="200px" alt="Photos of Lawrence">
                            <div class="card-body">
                              <!-- <h5 class="card-title">Card title</h5> -->
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="text-center">
                                <a href="{% url 'photos' 1 %}"><button class="btn btn-primary">View Details</button></a>
                            </div>
                            <br>
                        </div>
                    </div>                   
                </div>

            </div>
        </div>
    </div>
    
</body>
</html>