<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
    <div class="m-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="text-center">
                        <a class="btn btn-lg bg-primary text-light" href="{% url 'gallery' %}">Return To Gallery</a>
                        <br><br>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <img src="{{ photo.image.url }}" height="650hv" alt="Image by Lawrence">
                        </div>

                        <div class="col-md">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item"><strong>Image Name:</strong> lll</li>
                                  <li class="list-group-item"><strong>Image Description:</strong> {{ photo.description }}</li>
                                  <li class="list-group-item"><strong>Image Category:</strong> lll</li>
                                  <li class="list-group-item"><strong>Image Location:</strong> lll</li>
                                  <li class="list-group-item"><strong>Image ID:</strong> lll</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>